nav {
    background: #0ddbee;
    color: #fff;
    padding: 20px;
    text-align: center;
 
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


header {
    position: relative;
    text-align: center;
}

header img {
    width: 100%;
    height: auto;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(67, 216, 227);
    font-size: 2em;
    background: transparent;
    padding: 10px;
    border-radius: 5px;
}


article {
    padding: 20px;
    display: flex;
    align-items: center;
}

.article-image {
    width: 550px;
    height: auto;
    margin-right: 20px;
    float: left;
}


.facts {
    padding: 20px;
    background: #f4f4f4;
}

.facts ul {
    list-style-type: square;
    padding-left: 20px;
}


.contact-form {
    padding: 20px;
}

.contact-form label {
    display: block;
    margin-top: 10px;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    margin-top: 10px;
    padding: 10px 15px;
    background: #333;
    color: rgb(216, 63, 63);
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background: #555;
}